.div_conteudo {
				background-color: #000000;
				float: both;
				font-size: 20px;
				cursor: pointer;
				
}			

.cabecalho {
			background-color:#9BCD9B;
}	

.head {
		margin-top: ;
		width: 100%;
		height: 100px;
		background-color: #F5F5F5;
		float:right;
}

.foto_perfil {
			border: 1px solid black;
			width: 120px;
			height: 80px;
			margin-right: 300px;
			margin-top: 08px;
			float: right;
			border: 2px soft black;
}	

.line{
    text-align: left;	
	margin-left: 40px;
	margin-top: 0px;
	
}

.line houver{
			cursor: pointer;
			transform: translatey(-20px);
			transition: all 0.4s ease-out;
			margin-top: -90px;
}

.pesquisa_2 {
			 float:left;
			 margin-left:400px;
			 margin-top:-65px;
}

.linha {
		margin-top: 0px;
		width: 100%;
		background-color: black;
}

.midia {
			width: 320px;
			height: 520px;
			background:#DCDCDC;
			color: #B22222;
			top: 46%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 50px 30px;
			border-radius: 10px;
}

h4 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 30px;
}

.pessoas_online{
			width: 320px;
			height: 252px;
			background:#1C1C1C;
			color: #8FBC8F;
			top: 88%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 30px 30px;
			border-radius: 10px;
			border: 2px solid gray;
}

.pessoas_online input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:#8FBC8F;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.pessoas_online input[type="submit"]:hover{
	cursor: pointer;
	background:#E0FFFF;
	color: #000;
}

.conteudo {
			width: 870px;
			height: 800px;
			background:#E8E8E8;
			color: #B22222;
			top: 60%;
			left:56%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 36px 30px;
			border-radius: 10px;
			
}

.empresas {
			width: 720px;
			height: 180px;
			background:#DCDCDC;
			color: #B22222;
			top: 15%;
			left: 50%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 20px 30px;
			border-radius: 10px;
}
h5 {
	text-align: center;
}
.barra_postarpensamento {
					margin-top:190px;
}					


	





		