body{

}

.img-file-img{
    float: right;
    margin-top:20%;
    margin-right: 13%;
}
#campo_cadastro{
	margin-top: 20px;

}
.btn {
	margin-top: 10px;
	
}
.form-group{
    color: white;
}
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #000000;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #FFFFF0;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #006400;
}

.content {
    padding: 1em 1em 3em;
    background: #363636;
    margin-top: 5%;
    border-radius: 5px;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    color: white;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;

}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }
.email-item-unread {
    border-left: 6px solid #556B2F;
    border-radius: 2px;
}
.email-item-unread-2{
    border-left: 6px solid #FF4500;
    border-radius: 2px;
}
.nav-item {
	border-radius: 5px;
}
.menu_login {
	padding:20px;
}	

.menu_login {
	margin-top: 150px;
	margin-left:200px;
}	

.div_conteudo {
				background-color: black;
				float: both;
				font-size: 25px;
}				

.div_conteudo1 {
				background-color: white;
				float: both;
				margin-top:5%;
}				

.head_2 {
		margin-left:90px;
		margin-top:-30px;
}		

.img {
		margin-top:-30px;
}		

.linha {
		margin-top:10px;
		margin-left:0px;
}		

.page-header {
			  margin-left:100px;
			  margin-top: 20px;
			  margin-bottom: 40px;
}

.img_S {
		margin-left:140px;
		margin-top:20px;
		border: 2px dashed #B22222;
		float:left;
		padding:5px;

}		

.footer {
			margin-top: 440px;
}			

		
.panel-group {
		 margin-top:-430px;
		 float:center;
		 margin-right:0px;
		 border:3px inset green;
		 background-color:#B4EEB4;
}

.page-header h1 {
				 margin-top:-20px;
				 
}	

.row {
		background-color:transparent;
}

@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}