.foto_perfil {
			border: 1px solid black;
			width: 120px;
			height: 80px;
			margin-right: 300px;
			margin-top: -90px;
			float: right;
			border: 2px soft black;
}			

.div_conteudo {
				background-color: #006400;
				float: both;
				font-size: 20px;
				cursor: pointer;
				
}				

.navbar {
		 float: right;
		 margin-right: -1260px;
		 margin-top: -30px;
}		 

.head {
		margin-top: ;
		width: 100%;
		height: 100px;
		background-color: #F5F5F5;
		float:right;
}

.linha {
		margin-top: 100px;
		width: 100%;
		background-color: black;
}	

.line{
    text-align: left;	
	margin-left: 80px;
	margin-top: -10px;
	
}

.line houver{
			cursor: pointer;
			transform: translatey(-20px);
			transition: all 0.4s ease-out;
}
.pesquisa{
		  float:left;
		  margin-left:-600;
		  margin-top: -40px;
}		  

.cabecalho {
			float:left;
			margin-left: 40px;
			margin-top: -90px;
}

.img {
		margin-right: 250px;
		
}

.corpo1 {
		 float:both;
		 margin-right: 3700px;
		 margin-top: -1020px;
}

.pesquisa_2 {
			 float:left;
			 margin-left:-750px;
			 margin-top: 5px;
}
.fotos {
		width: 19%;
		height: 992px;
		float: left;
		background-color: #EEE9E9;
		box-shadow: #606060;
		text-align: center;
		margin-top:27px;
		margin-left:10px;
		border: 2px dashed #006400;
}		

# fotos {
		 margin-top: 30px;
}		 
	
.postes{
    width: 60%;
    height: 992px;
    background-color:transparent;
    float: left;
    box-shadow: #606060;
    padding: 2px 2px 2px 2px;
    text-align: center;
    margin:2px 2px 2px outo ;
	margin-left: 2px;
	margin-top:27px;
	border: 2px dashed #A52A2A;
}

.videos{
    width: 19%;
    height: 992px;
    float: right;
    background-color:#EEE9E9;
    box-shadow: #606060;
    padding: 2px 2px 2px 2px;
    text-align: center;
	margin-top: 27px;
	margin-right: 6px;
	border: 2px dashed #006400;
}	

.body {
		background-color:black;
		background-repeat: repeat-x;
}		

#tudo { 
		width: 100%; height: 992px; background: url('imageshtml.png');
}
#tudo { 
		background-repeat: no-repeat;
		margin-left: 23%;
		margin-top: 50px;

}		

.bloco_1{
		 padding: 17px;
		 background-color: #458B74;
		 border: 1.5px dashed black;
		 margin-top: -34px;
		 margin-left: 1px;
		 margin-right: 1px;
}		 
		
.bloco_2{
		 padding: 17px;
		 background-color: #BEBEBE;
		 border: 1.5px dashed black;
		 margin-top: 8px;
		 margin-left: 1px;
		 margin-right: 1px;
}		 

.bloco_3{
		 padding: 17px;
		 background-color: #CD0000;
		 border: 1.5px dashed black;
		 margin-top: -35px;
		 margin-left: 1px;
		 margin-right: 1px;
}		

.bloco_4{
		 padding: 17px;
		 background-color: #BEBEBE;
		 border: 1.5px dashed black;
		 margin-top: 8px;
		 margin-left: 1px;
		 margin-right: 1px;
}
	
.input-group {
			  margin-top: 10px;
			  
}			  
	
	
	
	
	
	
	
	
	
	