.fundo-menu {
	background-color:	#9BCD9B;
}

.menu {
	margin-bottom: 20px;
}

.texto-verde {
	color:	#006400;
}

.t-time {
	color: #A52A2A;
}

.fotos-videos {
	margin-top: 30px;
}

.margin-top-conteudo {
	margin-top: 100px;
}

.texto-post {
	margin-right: 0px !important;
}